<div class="row">
  <div class="small-12 medium-12 columns">
    <h2>Views Over the Past Month</h2>
    <%= line_chart @views.group_by_day(:created_at).count %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns">
    <h2>Votes Over the Past Month</h2>
    <%= line_chart @votes.group_by_day(:created_at).count %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns">
    <h2>New Users Over the Past Month</h2>
    <%= line_chart @users.group_by_day(:created_at).count %>
  </div>
</div>
