<div class="row">
  <div class="small-12 columns">
    <div id="comment-box" class="comments-container" chapter-id="<%= @chapter.id %>">

      <div class="row">
        <div class="small-12 columns">
          <div id="current-comments" class="current-comments">Loading comments</div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-12 columns">
              <%= text_area_tag :content, "",  rows: 3 %>
            </div>
            <div class="small-12 columns text-right">
              <%= submit_tag 'Comments', id: 'submit-comment', class: 'button radius success' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
