<h2><%= @chapter.story %></h2>

<%= render partial: 'nav',  locals: {title: "Chapter #{@chapter.number}: #{@chapter.title}", links: %w(back switch)} %>

<%= raw(@chapter.content) %>


<div class="row">
  <div class="small-12 columns">

    <%= render 'action_form' %>
  </div>
</div>
