
<%= render partial: 'nav', locals: {title: @current_story.name, links: %w( about switch link) } %>

<% @current_story.chapters.each do | chapter | %>


<div class="row bottom-seperator">
  <div class="small-12 medium-12 columns">
    <h3>
      <%= link_to raw("Chapter #{chapter.number}: #{chapter.title}"), read_chapter_path(chapter.number) %>
      </h3>
  </div>

  <div class="small-12 columns">
    <p><%=raw truncate_html(chapter.teaser, {length: 200}) %></p>
  </div>
</div>

<% end -%>
