<div class="row">
  <div class="small-12 columns">
    <h1>New Story Code Request</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>For the near future, to begin a new story, you will need to request a code. You should get your code within 24 hours. If not... wait longer</p>

    <p>If all things go as planned, you should receive an email with a short code that you will need to enter when you
    are creating a new story.</p>

    <p>You will only be able to use this code once.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
    <%= button_to 'Request a Code Now', create_code_manage_stories_path, class: 'button large success' %>
  </div>
</div>
