


<div class="row">
  <div class="small-12 medium-12 columns">
  <h1>Choose Our Own Adventur</h1>
  </div>
</div>



<div class="row">
  <div class="small-12 medium-12 columns">
    <p>Join a community based choose your own adventure story</p>
  </div>
</div>



<div class="row">
  <div class="small-12 medium-12 columns text-center">
    <%= link_to "Join in the Fun and Start Reading!", story_path, class: 'button huge' %>
  </div>
</div>
<h2>Basic Concept</h2>

<p>Join in a forever changing story. A story where the readers have final say. Author write their story in chapters, but must give the readers final say in what happens next.</p>
<p>The readers can choose what happens next. Welcome to What Next!</p>

<div class="row">
  <div class="small-12 medium-4 columns">
    <h3>Authors</h3>
    <%= image_tag 'clipart-writer.jpg', class: 'clipart' %>

    <p>As an author, or a clan of authors, you set out to tell a riveting story. But you won’t be the one that decides where it will go. Yes, you heard that right!</p>
    <p>At the end of each chapter, you must offer up choices to your readers. What do we do?
    Your readers, not you,  will choose what to do. You must shape your story based on their decisions.</p>
  </div>

  <div class="small-12 medium-4 columns">
    <h3>Readers</h3>
    <%= image_tag 'reader-clipart.svg', class: 'clipart' %>
      <p>Readers, it your job to become invested in the story. Not only by reading, but be taking an active role in what happens next.</p>
      <p>At the end of each chapter, you will have a choice of what to do next.</p>
      <p>Remember those  “choose-your-own-adventure” novel? But this is a democracy. The readers collectively vote on where the story should go.</p>
  </div>

  <div class="small-12 medium-4 columns">
    <h3>Voting</h3>
    <%= image_tag 'vote-box.png', class: 'clipart' %>
    <p>Like voting in a democracy, each user has a single vote. Once they vote, they can check which plan of action is winning.
    </p>
    <p>The author, while still owning the creative process of telling the story, must honor the voice of the people
    </p>
  </div>
</div>
