


<div class="row">
  <div class="small-12 medium-12 columns">
  <h1>Choose Our Own Adventur</h1>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-12 columns">
    <p>Join a community based choose your own adventure story</p>
  </div>
</div>



<div class="row">
  <div class="small-12 medium-12 columns text-center">
    <%= link_to "Join in the Fun and Start Reading!", story_path, class: 'button huge' %>
  </div>
</div>

<h2>Basic Concept</h2>

<p>Vivamus euismod mauris. Fusce fermentum odio nec arcu. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Pellentesque posuere. Maecenas malesuada.</p>

<p>Phasellus ullamcorper ipsum rutrum nunc. Aenean vulputate eleifend tellus. Aliquam erat volutpat. Vivamus quis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>Authors</h3>
    <%= image_tag 'clipart-writer.jpg', class: 'clipart' %>
    <p>An author, or a clan of authors, set out to tell a riveting story. But they are not the ones who direct
    where it will go. That's right!</p>

    <p>At the end of each chapter or episode, the author will offer up choices to the audience. What do we do?</p>

    <p>Fusce convallis metus id felis luctus adipiscing. Nulla facilisi. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Phasellus accumsan cursus velit. Praesent ut ligula non mi varius sagittis.</p>

  <p>Phasellus accumsan cursus velit. Pellentesque posuere. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Curabitur vestibulum aliquam leo.</p>

  </div>
  <div class="small-12 medium-6 columns">
    <h3>Readers</h3>
    <%= image_tag 'reader-clipart.svg', class: 'clipart' %>
    <p>Readers, or citizens, become invested in the story. Not only by reading, but be taking an active role in
    what happens next.</p>

    <p>At the end of each chapter, there will be a selection of choices for what to do next. You know... like choose-your-own-adventure.
    Each reader is allowed to vote once per episode. The is a democracy. The readers collectively vote on where the story should go.</p>

    <p>Like voting in a democracy, each user has a single vote. Once they vote, they can check which plan of action is winning.</p>

    <p>The author, while still owning the creative process of telling the story, must honor the voice of the people</p>

  </div>
</div>



