<h2>Chapters for <%= @story.name %></h2>

    <% @chapters.each do |chapter| %>
      <%= render partial: 'excerpt', locals: {chapter: chapter} %>
    <% end %>

<br>

<%= link_to raw("#{fa_icon('pencil-square-o 2x')} New Chapter"), new_manage_story_chapter_path, class: 'button success radius small' %>
