<% unless @chapter.published? %>
<div class="row">
  <div class="small-12 columns">
  <div class="callout small" data-closable>
    <p>This chapter has not yet been published!</p>
  </div>
</div>
</div>
<% end %>
<%= render @chapter %>
