<% unless @chapter.published? %>
<div class="row">
  <div class="small-12 columns">
  <div class="callout small" data-closable>
    <p>This chapter has not yet been published!</p>
  </div>
</div>
</div>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <%= render @chapter %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns end">
    <h3>Current Voting Results</h3>
    <p><%= @call_to_action.progress %>% of the vote is in.</p>
    <p>Voting will close End of Day, <%= @chapter.vote_ends_on.strftime('%D') %>.
    <%= raw(@call_to_action.chart) %>
  </div>
</div>
