<h1>New Story Code</h1>

<p>You have requested a code to start a new story on What Next?. Here you go!</p>

<h2>Code: <%= @invite.key %></h2>

<p>You can create your new story with this code at <a href="http://whatnext.arpcentral.net/manage/stories/new?code=<%= @invite.key %>">http://whatnext.arpcentral.net/manage/stories/new</a></p>
<p>Once you get going don't for get to invite others to read your story.</p>
