<h1>New Chapter Published</h1>
<p>A new chapter titled '<%= @chapter.title %>' has been published to the store '<%= @chapter.story.name %>'.</p>

<p>You have until midnight on <%= @chapter.vote_ends_on.strftime('%D') %> to vote for what next.</p>
