<h1>Voting has completed</h1>
<p>All subscribers of '<%= @chapter.story.name %>' have voted for chapter  '<%= @chapter.title %>'.</p>
<p>Login at http://whatnext.arpcentral.net and begin writing a new chapter.</p>
