<% if @authored_stories.empty? %>
  <p>You have not authored any stories</p>
<% else %>
  <ul class="no-bullets">
    <% @authored_stories.each do  | story | %>
      <li>
      <%= render partial: 'manage/stories/story', locals: {story: story, tools: true} %>
      </li>
    <% end %>
  </ul>
<% end %>

