<% if @authored_stories.empty? %>
  <p>You have not authored any stories</p>
<% else %>
  <%= render partial: 'manage/stories/story', locals: {story: @most_recent_story, tools: true} %>

  <% if @other_authored_stories.present? %>
    <p>Other authored stories:</p>
    <ul>
    <%  @other_authored_stories.each do  | story | %>
      <li><%= link_to story.name, manage_story_path(story) %></li>
    <% end %>
  </ul>
  <% end %>
<% end %>
