<% if @subscriptions.empty? %>
  <p>You have not subscribed to any stories</p>
<% else %>
    <% @subscriptions.each do  | sub | %>
      <%= render partial: 'account/subscriptions/unsubscribe_form', locals: {subscription: sub} %>
    <% end %>
<% end %>

