<h2>Login</h2>

<div class="row">
  <div class="small-12 columns text-center">
    <p>Join in the fun by login in using one of the following providers!</p>
    <p>Once logged in, you will be able to start following stories and join in the voting process. Begin determining how your favorite stories turn out.</p>
    <p>So much power!</p>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-5 large-3 large-offset-3 medium-offset-1 columns text-center">
    <%= link_to raw("#{fa_icon('google')} Login with Google"), "/auth/google", class: 'button radius large expand' %>
  </div>

  <div class="small-12 medium-5 large-3 columns text-center end">
    <%= link_to raw("#{fa_icon('facebook-official')} Login with Facebook"), "/auth/facebook", class: 'button radius large expand' %>
  </div>

</div>
