#editor {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    right: 0;
}

.chapter h3.border-bottom {border-bottom: thin solid; }
.action-panel {font-size: .8em; background-color:#f9f9f9}
.row.actions {background-color: #f9f9f9; padding:4px}
.hidden {display: none}

.story {
  h4 {border-bottom: thin solid; margin-bottom: 0px; }

  .title {margin-bottom: 0px; font-weight: bold}

  .subscription {font-style: italic;}
  ul {margin:0px}

  .actions {background-color: #ececec; padding:4px}
  ul {margin:0px}
}


.error-messages{
  .errors {background-color: #f9f9f9; padding:10px; border-radius: 6px; margin-bottom:10px}
  h3 {}
  ul {}
  li {color:#660000; margin-left:20px}
}
