html {
    height: 100%;
}

body {
  background-color: #535353;
}

header {
  padding-top:20px;
  h1 {
      margin-top: 30px;
      font-family: 'Merienda One', cursive;
      text-shadow: 2px 2px 2px #CCCCCC;
      font-size: 4em;
  }
}

nav { box-shadow: 5px 5px 15px #000;}
main {margin-top: 33px}

.logo-container {
    background-color: #515355;
    padding: 10px;
    border-radius: 8px;
    margin-left: 5px;
    text-align: center;
    width: 220px;
    position: absolute;
    height: 150px;
    box-shadow: 5px 5px 15px #000;
    z-index: 1
}
.watermark {
  background-image: url(image-path('logo.svg'));
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  position: fixed;
  background-position: bottom center;
  opacity: 0.03;
}
.adventure-icon.small {height: 36px; margin:0px 10px 4px 20px }
.adventure-icon.medium {height: 48px; margin:0px 10px 4px 20px }

.adventure-icon.large {
    height: 110px;
    margin: 0px;
}
.adventure-icon.massive {
    height: 130px;
    margin: 0px;
}
.top-bar {
    margin: 0px -10px;
}

.top-bar-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 100;
    opacity: 0.8;
    height: 54px;
}

.top-bar .name h1 {font-size: 1.6em; display:none}
.top-bar-fixed .name h1 {font-size: 1.6em; color:#fff; margin-left: 20px}

h1.big-header-text {
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 10px;
}

.expanded {width:100%}

.frame {border:thin solid #ccc; background-color: #fff; padding: 10px 0px; border-radius: 8px; margin-top:20px}



.no-bullets {list-style-type: none}
ul.inline {display: inline}
ul.right {float:right}
ul.pad-top {margin-top: 10px}

.icon-link {margin-right: 10px}

table.display { border-spacing: 0px }
table.full {  width:100% }

.green {color:#43AC6A}

table {border-spacing: 0px; width:100%}

.profile-image, img.profile {width:45px}
img.profile.tiny {width:24px}
img.profile.medium {width:296px}
img.profile.large {width:148px}

.no-pad {margin:0px}

.clipart {width: 225px; float: left; padding:10px}


#message-box {
    background-color: rgb(230, 233, 255);
    padding: 10px;
    text-align: center;
    margin: 0px 20px 0px 20px;
    border-radius: 0px 0px 6px 6px;
}

.bottom-seperator{
  border-bottom: thin solid #f0f0f0; margin-bottom: 20px
}


footer {
    color: #fff;
    text-align: center;
    margin-top: 15px;

    a { color:#f9f9f9;}
    a:visted {color: #f6f6f6;}
}

// @media only screen and (max-width:  943px) {
//   .logo-container {
//       width: 100px;
//       height: 130px;
//   }
// }


@media only screen and (max-width: 680px) {
  .logo-container {
      width: 100px;
      height: 130px;
  }

  header {
    padding-top:10px;
    h1 {
        margin-top: 65px;
        font-family: 'Merienda One', cursive;
        text-shadow: 2px 2px 2px #CCCCCC;
        font-size: 2em;
    }
  }

}
