nav { }


.adventure-icon.small {height: 36px; margin:0px 10px 4px 20px }

.top-bar-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 100;
    opacity: 0.8;
}


.expanded {width:100%}

.frame {border:thin solid #ccc; background-color: #fff; padding: 20px; border-radius: 8px; margin-top:20px}
body {background-color: #000}


.no-bullets {list-style-type: none}


.icon-link {margin-right: 10px}

table.display { border-spacing: 0px }
table.full {  width:100% }

.green {color:#43AC6A}

table {border-spacing: 0px; width:100%}

.profile-image, img.profile {width:45px}
img.profile.tiny {width:24px}
img.profile.medium {width:296px}
img.profile.large {width:148px}

.no-pad {margin:0px}

.clipart {width: 225px; float: left; padding:10px}


#message-box {
    background-color: rgb(230, 233, 255);
    padding: 10px;
    text-align: center;
    margin: 0px 20px 0px 20px;
    border-radius: 0px 0px 6px 6px;
}

.row.bottom-seperator, .columns.bottom-seperator {
  border-bottom: thin solid #f0f0f0; margin-bottom: 20px
}


footer {
    color: #fff;
    text-align: center;

    a { color:#f9f9f9;}
    a:visted {color: #f6f6f6;}
}
