.story {
  padding: 10px; border-left: 2px solid;
  h3 {border-bottom: thin solid; margin-bottom: 0px }
  .title {margin-bottom: 0px}
  .actions {background-color: #ececec; padding:4px}
  ul {margin:0px}
}


.cke_contents {height:400px}
