.bar-stats {float:left; width:100%; margin-top:0px; margin-bottom:10px; font-style: italic;font-size:.8em;}
.bar-graph-container{float:left; width:100%; border:thin solid #666;}
.bar-graph {float:left;  background-color:#ccc; height: 30px;}
.story-title {font-family: 'Noto Serif', serif; font-weight: bolder; font-size:1.6em}
.no-chapters {display:none}

// .current-comments {
//   max-height: 400px;
//   overflow: scroll ;
// }
.page-steps {
    border-top: 1px solid #ccc;
    border-bottom: thin solid #ccc;
    padding-top: 20px;
}

.new-comment .comment-text {
    background-color: #FFFADD;
}
.comment-text {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    color: #666;
    font-style: italic;
    border-bottom: 0px;
}

.comment-by {
    text-align: right;
    margin-top: -20px;
    color: #ccc;
    font-style: italic;
}

.comment-img {height: 36px}


.story-list div.story-list-item {display:none; margin-bottom: 20px;}
.story-list button.show-more {display: none}
.story-list .small-script {font-size: .8em; font-style: italic;}
