.bar-stats {float:left; width:100%; margin-top:0px; margin-bottom:10px; font-style: italic;font-size:.8em;}
.bar-graph-container{float:left; width:100%; border:thin solid #666;}
.bar-graph {float:left;  background-color:#ccc; height: 30px;}
.story-title {font-family: 'Noto Serif', serif; font-weight: bolder; font-size:1.6em}
.no-chapters {display:none}
