<div class="unsubscription_form">
  <%= form_tag account_remove_subscription_path, method: :delete do %>
    <%= hidden_field_tag :subscription_id, subscription.id %>
    <div class="row collapse">
      <div class="small-6 columns">
        <%= link_to raw("#{fa_icon('arrow-circle-right')} Read Now"), set_current_story_by_id_path(subscription.story), class: 'button tiny success expand' %>
      </div>
      <div class="small-6 columns">
        <button class="button tiny alert expand"><%= fa_icon('close') %> Remove</button>
      </div>
    </div>
  <% end %>
</div>
