
    <header>
      <div class="row collapse">
        <div class="small-4 medium-5 columns text-right what-text">
          <h1>What</h1>
        </div>
        <div class="small-4 medium-2 columns text-center">
          <a href="/"><%= image_tag 'logo.svg', class: 'adventure-icon massive' %></a>
        </div>
        <div class="small-4 medium-5 columns text-left next-text">
          <h1>Next?</h1>
        </div>
      </div>
    </header>
